body {
    background: url('./images/1.jpg') no-repeat center/cover;
    min-height: 100vh;
    /* background-size: cover; */
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
}

h1 {
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: auto;
    position: relative;
    transform: scale(1);
}

.gradient-circle {
    background: conic-gradient(#55b7a4 0%,
            #E4C597 40%,
            #fff 40%,
            #fff 60%,
            #c99571 60%,
            #b97b56 100%);
    width: 270px;
    height: 270px;
    position: absolute;
    z-index: -2;
    border-radius: 50%;
}

.circle {
    background-color: #3d1f0e;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}


.pointer-container {
    position: absolute;
    top: -40px;
    left: 120px;
    width: 10px;
    height: 161px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #55b7a4;
    display: block;
}

.container.grow {
    animation: grow 3s linear forwards;
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}